<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
     <httpRuntime maxRequestLength="20480" requestValidationMode="2.0" requestPathInvalidCharacters=""
        maxQueryStringLength="20480" maxUrlLength="204800" executionTimeout="240"  />
  </system.web>
   <system.webServer>
      <applicationInitialization >
        <add initializationPage="/lyrics/Shawn-Mendes/Stitches" />
      </applicationInitialization>
      <httpErrors existingResponse="PassThrough" />
      <webSocket enabled="false"/>
      <handlers>
         <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
      </handlers>
      <security>
         <requestFiltering allowDoubleEscaping="true" unescapeQueryString="false">
           <filteringRules>
             <!-- name the rule -->
             <filteringRule name="user agent deny" scanUrl="false" scanQueryString="false">
               <scanHeaders>
                 <!-- apply rule to user-agent header -->
                 <add requestHeader="user-agent" />
               </scanHeaders>
               <denyStrings>
                 <clear />
                 <!-- block spamming apps and yandex bot -->
                 <add string="SoundNotes" />
                 <add string="CrazyProject" />
                 <add string="Sounds" />
                 <add string="ARB" />
                 <add string="Equalizer" />
                 <add string="Relax" />
                 <add string="Baiduspider" />
                 <add string="CPython" />
               </denyStrings>
             </filteringRule>
           </filteringRules>
         </requestFiltering>
         <ipSecurity allowUnlisted="true">
            <clear/>     <!-- removes all upstream restrictions -->
            <add ipAddress="178.62.0.0" subnetMask="255.255.0.0"/>
            <add ipAddress="128.199.159.109" subnetMask="255.255.255.255"/>
            <add ipAddress="104.236.0.0" subnetMask="255.255.0.0"/>
            <add ipAddress="107.170.0.0" subnetMask="255.255.0.0"/>
            <add ipAddress="162.243.0.0" subnetMask="255.255.0.0"/>
            <add ipAddress="67.227.128.0" subnetMask="255.255.128.0"/>
            <add ipAddress="50.28.0.0" subnetMask="255.255.192.0"/>
            <add ipAddress="130.211.0.0" subnetMask="255.255.0.0"/>
            <add ipAddress="107.167.160.0" subnetMask="255.255.224.0"/>
            <add ipAddress="104.154.0.0" subnetMask="255.254.0.0"/>
         </ipSecurity>
      </security>
      <staticContent>
         <remove fileExtension=".woff" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension="." mimeType="application/pkcs7-mime" />
      </staticContent>
      <rewrite>
        <!-- MAKE SURE YOU REDIRECT USING UNENCODED_URL!!! -->
         <rules>
            <rule name="Redirect to about.musixmatch.com" >
               <match url="(^(?:10million|spotify|about|about_us|apiterms|app|apps|chrome|confirm|contact|copyright|downloads-musixmatch|eula|getapp|img|ios-beta|jobs|media|mic|press|privacy-policy|register-mic|reset-password|store|terms-of-sale|terms|.+\.php)(?:\/.*)*$)" ignoreCase="false" />
               <action type="Redirect" url="https://about.musixmatch.com/{R:1}" redirectType="Permanent" appendQueryString="true" />
            </rule>
            <rule name="Terms redirect">
              <match url="^(musixmatch-terms-conditions-apps|lyrics-api-terms)" ignoreCase="true" />
              <action type="Redirect" url="https://about.musixmatch.com/terms" redirectType="Permanent" />
            </rule>
            <rule name="Press redirect">
              <match url="^(press-room|resources)" ignoreCase="true" />
              <action type="Redirect" url="https://about.musixmatch.com/about/#press" redirectType="Permanent" />
            </rule>
            <rule name="Redirect community to www" stopProcessing="true">
                <match url=".*" />
                <conditions>
                  <add input="{HTTP_HOST}" pattern="^community.musixmatch.com$" />
                </conditions>
                <action type="Redirect" url="https://www.musixmatch.com{UNENCODED_URL}" redirectType="Permanent" />
            </rule>
            <rule name="Redirect naked to www" stopProcessing="true">
              <match url=".*" />
              <conditions>
                <add input="{HTTP_HOST}" pattern="^musixmatch.com$" />
              </conditions>
              <action type="Redirect" url="https://www.musixmatch.com{UNENCODED_URL}" redirectType="Permanent" />
            </rule>
            <rule name="Remove trailing slash" stopProcessing="true">
              <match url="(.*)/$" />
              <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
              <action type="Redirect" redirectType="Permanent" url="{R:1}" />
            </rule>
            <rule name="Redirect HTTP to HTTPS" >
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTP_USER_AGENT}" pattern="^SiteWarmup$" negate="true" />
                  <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
               </conditions>
               <action type="Redirect" url="https://{HTTP_HOST}{UNENCODED_URL}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <rule name="Redirect author to writter" >
               <match url="^author/(.*)$" ignoreCase="false" />
               <action type="Redirect" url="https://{HTTP_HOST}/writer/{R:1}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <rule name="Redirect annotation to lyrics" >
               <match url="^lyrics/(.*)/(.*)/annotation/" ignoreCase="false" />
               <action type="Redirect" url="https://{HTTP_HOST}/lyrics/{UrlEncode:{R:1}}/{UrlEncode:{R:2}}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <rule name="Redirect single encoded profile urls" >
                <match url="(^|.*/)profile/(.*(?:\+|=)[^/]*)($|/.*)" ignoreCase="false" />
               <action type="Redirect" url="https://{HTTP_HOST}/{R:1}profile/{UrlEncode:{UrlEncode:{R:2}}}{R:3}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <rule name="Recent added redirect">
              <match url="^recentadded" ignoreCase="true" />
              <action type="Redirect" url="https://www.musixmatch.com/community/added-lyrics" redirectType="Permanent" />
            </rule>
            <rule name="Rewrite Dissalow Robots" enabled="true" stopProcessing="true">
          	  <match url="robots.txt" />
          	  <action type="Rewrite" url="public/robots-disallow.txt" />
          	  <conditions>
            		<add input="{HTTP_HOST}" pattern="www\.musixmatch\.com" negate="true" />
          	  </conditions>
            </rule>
            <rule name="StaticContent">
               <action type="Rewrite" url="public{REQUEST_URI}"/>
            </rule>
            <rule name="DynamicContent" stopProcessing="true" >
               <conditions>
               <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
               </conditions>
               <action type="Rewrite" url="server.js"/>
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>
