body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRntEzkjqiH9GEmvQG0ygq2uH6Oae8O7cXWiJ3Nw0XTVVYwjz1O");
  background-size: 250% 250%;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}

hr{
  border-style: solid;
  border-color: black;
}

div#companies{
  display: inline;
  width: 100%;
  vertical-align: middle;
}